<div class="login-box">



    <form class="login-forms">
        <label class="login-label" for="e-mail">E-MAIL</label>
        <input class="login-input" type="e-mail" name="usuario" id="login-email" placeholder="Digite seu E-mail" required/><br>
        <label class="login-label" for="password">SENHA</label>
        <input class="login-input" type="password" name="senha" id="login-senha" placeholder="Digite sua senha" required/><br>
        <button class="login-button" type="button" (click)="logar($event)">Login</button>

        <p class="paragrafo">Não possui conta? <a class="login-ancora-cadastro" href="cadastro">Criar conta</a></p>
            
        
    </form>
    
</div>