<section id="pets"> 

<div class="pets-main">

    <div class="pets-left-content">
        <p class="pets-texto">Pets Disponiveis</p>   
    </div>
    <div class="pets">
        <div class="dds__col-sm-12 dds__col-md-12 dds__col-lg-12 dds__col-xl-6 dds__px-0 dds__mb-5"> 
        <div class="dds__consumer-product-card"> <a href="https://www.dell.com/" role="none" tabindex="-1"> <img class="dds__card-img-top dds__img-fluid" src="\assets\images\Pet1.svg" alt="Card image caption"> </a>
        
        </div> 
        <div class="dds__mb-2"><button role="button" type="button" class="dds__btn dds__btn-primary dds__text-truncate" >Ver Mais</button></div>

        </div>

        <div class="dds__col-sm-12 dds__col-md-12 dds__col-lg-12 dds__col-xl-6 dds__px-0 dds__mb-5"> 
        <div class="dds__consumer-product-card"> <a href="https://www.dell.com/" role="none" tabindex="-1"> <img class="dds__card-img-top dds__img-fluid-productA" src="\assets\images\Pet2.svg" alt="Card image caption"> </a>
        
        </div> 
        <div class="dds__mb-2"><button role="button" type="button" class="dds__btn dds__btn-primary dds__text-truncate" routerLink="/index/pet1">Ver Mais</button></div>
        </div>

        <div class="dds__col-sm-12 dds__col-md-12 dds__col-lg-12 dds__col-xl-6 dds__px-0 dds__mb-5"> 
        <div class="dds__consumer-product-card"> <a href="https://www.dell.com/" role="none" tabindex="-1"> <img class="dds__card-img-top dds__img-fluid-productB" src="\assets\images\Pet3.svg" alt="Card image caption"> </a>
        
        </div> 
        <div class="dds__mb-2"><button role="button" type="button" class="dds__btn dds__btn-primary dds__text-truncate">Ver Mais</button></div>
        </div>

        <div class="dds__col-sm-12 dds__col-md-12 dds__col-lg-12 dds__col-xl-6 dds__px-0 dds__mb-5"> 
        <div class="dds__consumer-product-card"> <a href="https://www.dell.com/" role="none" tabindex="-1"> <img class="dds__card-img-top dds__img-fluid" src="\assets\images\Pet4.svg" alt="Card image caption"> </a>
        
        </div> 
        <div class="dds__mb-2"><button role="button" type="button" class="dds__btn dds__btn-primary dds__text-truncate">Ver Mais</button></div>

        </div>

        <div class="dds__col-sm-12 dds__col-md-12 dds__col-lg-12 dds__col-xl-6 dds__px-0 dds__mb-5"> 
        <div class="dds__consumer-product-card"> <a href="https://www.dell.com/" role="none" tabindex="-1"> <img class="dds__card-img-top dds__img-fluid" src="\assets\images\Pet5.svg" alt="Card image caption"> </a>
        
        </div> 
        <div class="dds__mb-2"><button role="button" type="button" class="dds__btn dds__btn-primary dds__text-truncate">Ver Mais</button></div>

        </div>

        <div class="dds__col-sm-12 dds__col-md-12 dds__col-lg-12 dds__col-xl-6 dds__px-0 dds__mb-5"> 
        <div class="dds__consumer-product-card"> <a href="https://www.dell.com/" role="none" tabindex="-1"> <img class="dds__card-img-top dds__img-fluid" src="\assets\images\Pet6.svg" alt="Card image caption"> </a>
        
        </div> 
        <div class="dds__mb-2"><button role="button" type="button" class="dds__btn dds__btn-primary dds__text-truncate">Ver Mais</button></div>
        </div>
    </div>
    <div class="pets-right-content">
        <button class="pets-button" routerLink="/index/registrarpets">Adicionar Pets</button>
    </div>
    
</div>

</section>