<section class="ver mais">

<div>
    <img class="pets" src="\assets\images\Gato.svg">
    <p class="pets-right-content-p">TRANSPORTE DE PETS PEQUENOS</p>
    <p class="pets-right-content">Diferente da caixa de transporte para gatos, a pets <br>costuma ser acolchoada por dentro, 
    o que permite um <br>espaço mais agradável para o animal. 
    Já para os tutores, <br> a alça da pets de gato torna o momento de carregar o <br> pet menos incômodo

    <button class="btn-primary" routerLink="/index/editarpets">Editar Produto</button>
    <button class="btn-secondary">Deletar Produto</button>
</div>