<header class="header-cabecalho">
        <div class="header-cabecalho-left-content">
            <img class="header-cabecalho-logo-lead" src=".\assets\images\logos-dell-technologies-lead-iepro-idesco_dell-lead-principal 1.svg">
            <div class="header-cabecalho-linha-vertical"></div>
            <div class="header-cabecalho-nome">Castro's Pet</div>
        </div>
        
        <nav class="header-cabecalho-menu">
            <a class="header-cabecalho-menu-item" routerLink="/index/produtos">PRODUTOS</a>
            <a class="header-cabecalho-menu-item" routerLink="/index/pets">PETS</a>
        </nav>
        <div class="header-cabecalho-right">
            
            <div class="header-cabecalho-right-logout" onclick="logout()">Castro's Pet</div>
            <div class="header-cabecalho--right-linha-vertical"></div>
            <img class="header-cabecalho-right-logout-img" src=".\assets\images\Avatar.svg">
        <button class="btn-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="">
            Sair
        </button>
        
        </div>
        <script src="\scripts\header.js"></script>
</header>

