<section class="ver mais">

<div class="produtoA">
    <img class="mochila" src="\assets\images\Mochila.svg">
    <p class="mochila-right-content-p">MOCHILA TRANSPORTE DE PETS PEQUENOS</p>
    <p class="mochila-right-content">Diferente da caixa de transporte para gatos, a mochila <br>costuma ser acolchoada por dentro, 
    o que permite um <br>espaço mais agradável para o animal. 
    Já para os tutores, <br> a alça da mochila de gato torna o momento de carregar o <br> pet menos incômodo

    <button class="btn-primary" routerLink="/index/editarprodutos">Editar Produto</button>
    <button class="btn-secondary">Deletar Produto</button>
</div>